<VirtualHost *:{{ item.value.http_port }}>

   ServerAdmin {{ item.value.server_admin }}
   ServerName {{ item.value.http_fqdn }}
   ServerAlias {{ item.value.http_fqdn }}
   DocumentRoot /var/www/{{ item.value.http_host }}

   <Directory />
      Options FollowSymLinks
      AllowOverride None
   </Directory>

   <Directory /var/www/{{ item.value.http_host }}>
      Options Indexes FollowSymLinks MultiViews
      AllowOverride All
      Order allow,deny
      Allow from all
   </Directory>


   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
